<div>
    <tr>
        <td><%= order.product_name %>
        <td><%= order.product_count %></td>
        <td><%= order.customer_id %></td>
        <td><%= order.customer.full_name %></td>
        
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
</div>